name: Build test

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
          submodules: false

      # - run: sudo apt-get update && sudo apt-get install libboost-test-dev -y

      - run: cmake .
      - run: cmake --build .
      - run: cmake --build . --target test
      - run: cmake --build . --target package
      - name: Show deb packages
        run: |
          find . -maxdepth 1 -name "*.deb" -exec sh -c '
          echo "===== {} ====="
          dpkg-deb -I {}
          dpkg-deb -c {}
          ' \;
